

#div_container>#div_hearttree {
	display: none;
	width: 100%;
	position: relative;
	z-index: 666;
}
#div_tree_start {
	position: absolute;
	left: 0px; 
	top: 0px;
	z-index: 667;
	width: 500px;
	height: 815px;
	background-color: rgba(255,255,255,0);
}
#div_tree_error, #div_tree_text {
	display: none;
	position: absolute;
	left: 40px; 
	top: 25px;
	width: 420px;
	font-size: 1.1em;
}
#div_tree_main {
	position: relative;
	width: 500px; 
	height: 815px;
	margin-top: 0px;
}
#span_tree_typed {	
	width: 100%; /*为了使文字两端对齐 */ 
	white-space: pre-wrap; /*保留换行效果*/ 
}
#canvas_tree {
	width: 500px; 
	height: 815px;
}
#div_tree_timer {
	display: none;
	position: absolute;
	left: 40px; 
	top: 680px;
	width: 420px;
	font-size: 1.2em;
	font-weight: 400;
}
/*#div_tree_timer #span_tree_desc:before{
	content: "⏰";
}
#div_tree_timer #span_tree_desc:after{
	content: "：";
}*/







